/*****************/
/* == portail == */
/*****************/

ul,ol{
    margin:0;
    padding:0;
    list-style-type:none;
}

a{color:#009;text-decoration:none;}


/* ***************** */
/* = menu flottant = */
/* ***************** */
#menu_flottant{
    z-index:1000;
    position:fixed;
    display:block;
    /*overflow:hidden;*/
    height:12em;
    width:250px;
    top:10px;
    left:-265px;
    margin:0 10px 0 0;
    border:none;
    /*background-clip:border-box;*/
    background-color:transparent;
    /*background-image:url("../css-legral/html/mvc1/menu_flottant-tirette-ToOpen.png");*/

    background-repeat:repeat-y;
    background-position: right top;
    padding:0 1em;
}

#menu_flottant:hover{
    background-color:yellow;
    /*background-image:url("../css-legral/html/mvc1/menu_flottant-tirette-ToClose.png");*/
    animation-name:menu_flottant_open;
    animation-duration:500ms;
    animation-delay:0;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-timing-function:ease-out;
    animation-fill-mode:forwards;
}

@keyframes menu_flottant_open {
    from {/*close*/
        /*background-color: #E08D3A;*/
        background-color: #E8A600;
        left:-240px;

    }
    to {/*open*/
        background-color: #E8BA45;
        left:0;
        border-right:0;
    }
}

section{
    margin-top:2em;
    border:none;
    border-left:1px solid transparent;
    border-right:1px solid transparent;

}

section:hover{
    margin-top:2em;
    border:none;
    border-left:1px solid green;
    border-right:1px solid green;
}
section h1{
    margin:0;
    border:none;
    background-image:linear-gradient(to bottom,black,#E8A600);
    text-align:center;
    font-weight:bold;
    font-size:1.4em;
}

section h2{
    margin:1em 0;
    border:none;
/*    background-image:linear-gradient(to bottom,green,#E8BA45);*/
    background-image:linear-gradient(to bottom,#E8A600,#E8BA45);
    text-align:center;
    font-weight:bold;
    font-size:1.3em;

}
section h3{
    display:block;
    width:70%;
    min-width:630px;
    margin:1em auto 0 auto;
    border:1px solid transparent;
    border-top-left-radius: 50px 30px;
    border-top-right-radius: 50px 30px;
    background-image:linear-gradient(to bottom,#E8BA45,white);
    text-align:center;
    font-weight:bold;
    font-size:1.2em;
}



.colonne{
	display:inline-block;
    min-width:300px;
    vertical-align:top;
    margin:0;
	border-color:red;	
	}

 
.thematique{
    display:block;
    min-width:300px;
    margin:1em .5em 0 .5em;
	background-color:transparent;
	padding:0;
	color:green;
}

.thematique h1{
	margin:0;
    border:1px solid green;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom:0;
    border:none;
	padding:0 1em;
	background-color:#E08D3A;
    background-image:linear-gradient(to bottom,#E8A600,#E8C56F);
	text-align:center;
	font-weight:bold;
    font-size:1.2em;
	color: black;
	}

.thematique h1 > a{
	font-weight:bold;
	color:black;
    text-decoration:none;
}


.thematique h1 > a:hover{
	font-weight:bold;
	color:black;
    text-decoration:underline;
}



.thematique_sousTitre{
	text-align:center;
	font-weight:bold;
	color:black;
}

.thematique_detail{
	margin:0 auto 0 auto;
	border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
	background-color: #E8C56F;
	padding:0 1em;
    padding-bottom:0.5em;
	font-weight:normal;
    text-align:center;
    white-space: normal;
}
/*
.thematique_detail a{
    text-align:center;
}
*/
.thematique_detail img{
    display:block;
    width:240px;
    margin:0 auto;
}

.thematique_detail h3{
    display:block;
    width:70%;
    min-width:150px;
    margin:0 auto 0 auto;
    border:1px solid transparent;
    border-top-left-radius: 50px 30px;
    border-top-right-radius: 50px 30px;
    background-image:linear-gradient(to bottom,#80F280,white);
    padding:0 1em;;
    text-align:center;
    font-weight:bold;
    font-size:1.2em;
	font-weight:bold;
	color:black;
    text-decoration:none;
    font-size:1.2em;
    color:#4A2CCB;

/*
    
    margin:0;
    border:none;
    background-color:transparent;
    padding:0;

    text-align:center;
    font-weight:bold;
    */
}



